body{
    background: url(background.png);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content{
	margin:auto;
	width: 100%;
}
#header{
	width: 100%;
	min-height: 200px;
    line-height:130px;
    margin:auto;
    background:rgb(216, 205, 196);
	background-image: url(https://pascapsi-profesi.uad.ac.id/wp-content/uploads/2014/07/Rancangan-bangunan-kampus-4-UAD.png);
    background-size: 100% 205px;
	text-align: left;
    color:  #000000;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #086c8d;
}
#menu ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	margin-right: 100;
	background-color: #086c8d;
}
#menu li{
	float: right;
	margin: 0;
	border-right: 1px solid #03fee5;
	border-left: 1px solid #03fee5; 
}
#menu li a{
	display: block;
	color:  #000000;
	padding: 19 23;
	text-decoration: none;
	text-align: center;
}
menu a:hover{
	background-color: #111;
}
#main-content{
	width: 100%;
	min-height: auto;
}
#news{
	width: 70%;
	height: 100%;
	overflow: auto;
	float: right;
	background: rgb(241, 239, 239);
}

#news h2{
	margin-top: 40;
	margin-left: 50;
}
#news img{
	margin-top: 10;
	margin-left: 50;
}
#news p{
	text-align: left;
	margin-left: 80;
	margin-right: 20;
}
textarea {
    width: 60%;
    height: 80px;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color:#ffffff ;
}
#side-menu{
	width: 30%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #a6bfc7;
}
#side-menu h3{
	margin-left: 20;
	margin-right: 20;
	margin-top: 50;
	border-bottom: 2px solid #000000;
	padding-bottom: 20;
	margin-bottom: 10;
}
#side-menu ul{
	margin-right: 0;
	margin-top: 0;
	list-style-type: none;
	padding-left: 25;
}
#side-menu li{
	margin-top: 10;
}

input.text1 {
    border-radius: 3px;
    width: 60%;
    height: 12px;
    padding: 8px;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
    background-color:#ffffff ;
}
select.text2 {
    border-radius: 3px;
    width: 60%;
    height: 12px;
    padding: 8px;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
    background-color:#ffffff ;
}
.button1 {
    background: #4db82c;
    color: #ffffff;
    width: 20%;
    margin-top: 10px;
    height: 30px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}
.button2 {
    background: #4db82c;
    color: #ffffff;
    width: 10%;
    margin-top: 10px;
    height: 25px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}
.button2:hover {
    background: #222;   
}
.border{
    border:2px solid #000000;
	margin-left:2pc ;
    margin-top:2pc;
	padding-top: 2pc;
	margin-right: 2pc;
    padding-bottom:9pc;
    padding-left:2pc;
    padding-right:1pc;
}
.button1:hover {
    background: #222;   
}
footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #086c8d;
}
.footer-text{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: rgb(0, 0, 0);
}
.span-text{
	color: white;
}
a:link { 
	color: rgb(0, 255, 229); 
	text-decoration: none;
}
a:visited { color: #000000 }
a:active { color: rgb(255, 0, 102) }
a:hover { color: white }